/* wildcard selector to clear default browser styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* use flex properties on body and main to keep footer at base of page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(53, 57, 53)
}

/* Header Styling*/
header {
    background-color: rgb(128, 0, 32);
    position: fixed;
    width: 100%;
    color: rgb(196, 202, 208);
    padding: 0 1rem;
    z-index: 5;
    box-shadow: 0 5px 5px rgb(53, 57, 53);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#nav_menu { 
    list-style-type: none;
}

#nav_menu li{
    font-size: 110%;
    margin: 1em 0;
}

.active {
    border-bottom: 2px solid rgb(196, 202, 208);
}

/* Navbar having dropdown functionality*/
nav {
    position: absolute;
    background-color: rgb(128, 0, 32);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: inherit;
    display: none;
    top: 100%;
}

.nav-dropdown-button {
    font-size: 2rem;
}

#nav-dropdown {
    display: none;
}

#nav-dropdown:checked~nav {
    display: block;
}

/* Styling for all headings*/
h1, h2, h3 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 28px;
    margin: 20px auto;
}

main {
    /* Ensure main takes up surplus space so footer remains at bottom of page */
    flex: 1 0 auto;
    /* Ensure header wont cover content */
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 244, 255);
}

/* Hero Image */
#hero {
    width: 90%;
    margin: 0 auto;
    background: url(../images/henryVIII-hero.jpg) no-repeat center center;
    height: 450px;
    display: block;
}

#title-overlay {
    background-color: rgba(128, 0, 32, .8);
    color: rgb(196, 202, 208);
    font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    top: 100px;
    width: 75%;
    text-align: center;
}

#about {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.page-description {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.page-description a {
    text-decoration: none;
    color: rgb(53, 57, 53);
}

.page-description a:hover {
    color: rgb(128, 0, 32);
}

/* class to style a hr element as a tudor rose image*/
.tudor-rose {
    background-image: url(../images/tudor-rose.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    border: 0;
    height: 30px;
    display: block;
    margin: 10px 0;
}

/* Styling for the Wives page*/
#wives {
    width: 100%;
    display: flex;
    flex-direction: column; 
}


/* Styling for the feedback page*/
#feedback {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#feedback-form {
    padding: 20px 20px;
    color: rgb(196, 202, 208);
    background-color: rgb(128, 0, 32);
    border-radius: 2%;
    border: 1px solid black;
}

.form-text {
    color: rgb(196, 202, 208);
    background: transparent;
    margin: 5px 0;
    border: 2px solid rgb(196, 202, 208);
    width: 100%;
}

.radio {
    margin: 5px;
    text-align: left;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.submit {
    max-height: 50px;
    padding: 10px 30px;
    background-color: rgb(196, 202, 208);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}

.form-item{
    margin: 5px 0;
}

textarea {
    width: 100%;
    height: 100%;
}

#portrait {
    margin: 20px auto;
    flex-wrap: wrap;
    text-align: center;
}

/* Footer Styling*/
footer {
    background-color: rgb(128, 0, 32);
    color: rgb(196, 202, 208);
}

#social-links {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#social-links a {
    color: inherit;
    font-size: 200%;
}

#social-links a:hover {
    color: rgb(53, 57, 53);
}

@media screen and (min-width: 768px) {
    /* Navbar downdown adjusted for larger screens*/
    nav {
        position: absolute;
        background-color: rgb(128, 0, 32);
        width: 100%;
        left: 0;
        padding: 0 1rem;
        box-shadow: inherit;
        display: none;
        top: 100%;
    }
    
    .nav-dropdown-button {
        font-size: 2rem;
    }
    
    #nav-dropdown {
        display: none;
    }
    
    #nav-dropdown:checked~nav {
        display: flex;
        justify-content: space-evenly;
    }

    #nav-dropdown:checked~nav li{
        display: inline-block;
        margin: 20px 2rem;
    }

    .active {
        border-bottom: 2px solid rgb(196, 202, 208);
    }

    h1 {
        font-size: 32px;
    }

    main {
        margin-top: 80px;
    }

    #title-overlay {
        width: 400px;
        margin: auto;
        right: 40%;
    }

    #about {
        flex-direction: row;
    }

    .page-description{
        width: 50%;
    }

    #feedback {
        flex-direction: row;
        position: relative;
    }

    .form-item{
        width: 30%;
    }

    .form-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .wife {
        display: flex;
    }

    .wife-even {
        flex-direction: row-reverse;
    }
}