

/* wildcard selector to clear default browser styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* use flex properties on body and main to keep footer at base of page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    flex: 1 0 auto;
}

/* Header Styling*/
header {
    background-color: rgb(128, 0, 32);
    position: fixed;
    color: rgb(196, 202, 208);
    padding: 0 1rem;
    z-index: 5;
    box-shadow: 0 5px 5px rgb(196, 202, 208);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#nav_menu { 
    list-style-type: none;
}

#nav_menu li{
    font-size: 110%;
    margin-bottom: 2em;
}

.active {
    border-bottom: 2px solid rgb(196, 202, 208);
}

/* Navbar having dropdown functionality*/
nav {
    position: absolute;
    background-color: rgb(128, 0, 32);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: inherit;
    display: none;
    top: 100px;
}

#nav-dropdown:checked~nav {
    display: block;
}

/* Footer Styling*/
footer {
    background-color: rgb(128, 0, 32);
    color: rgb(196, 202, 208);
}

h1 {
    font-family: 'Libre Baskerville', sans-serif;
    margin: 20px auto;
}